.row {
  width: 992px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 100px;
}

/* BLOCCO LEZIONI */
#lezioni .row>.left,
#lezioni .row>.right {
  width: 50%;
  float: left;
}

#lezioni .row img {
  /* per centrare orizzontalmente */
  display: block;
  margin-right: auto;
  margin-left: auto;
}

#lezioni {
  text-align: center;
}

/* BLOCCO STEPS */
#steps .row>.left,
#steps .row>.central,
#steps .row>.right {
  float: left;
  width: 33%;
}

#steps {
  text-align: center;
}

/* BLOCCO PERCHE */
#why {
  text-align: center;
}

#why .row>.first,
#why .row>.second,
#why .row>.third {
  width: 100%;
  margin-top: 80px;
}

#why .row img {
  background-color: #428bca;
  border-radius: 50%;
  padding: 30px
}

/* COMMON */
.row::after {
  content: '';
  display: table;
  clear: both;
}

.container.grey {
  background-color: #f9f9f9;
}

img {
  height: 200px;
}

.clear {
  clear: both;
}

/* Mobile view */
@media (max-width: 420px) {
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  .row {
    margin: 0;
    width: 100%;
  }

  .container .row img {
    height: 100px;
    padding: 5px;
  }

  #steps,
  #lezioni,
  #why {
    padding: 5px;
  }

  #lezioni .row>.right,
  #lezioni .row>.left {
    float: left;
    width: 100%;
  }

  #lezioni, #why {
    background-color: #f2f2cd;
  }

  #steps {
    background-color: white;
    padding: 10px;
  }

  #steps .row .left,
  #steps .row .central,
  #steps .row .right {
    width: 100%;
  }

  #why .row>.first,
  #why .row>.second,
  #why .row>.third {
    margin-top: 20px;
  }
}
/* / Mobile view */

/* Tablet view -BONUS- */
@media (min-width: 421px) and (max-width: 768px) {
  * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }

  .row {
    margin: 0;
    width: 100%;
  }

  .container .row img {
    height: 130px;
    padding: 5px;
    filter: grayscale();
  }

  #steps,
  #lezioni,
  #why {
    padding: 5px;
  }

  #lezioni, #why {
    background: rgb(182,0,0);
background: radial-gradient(circle, rgba(182,0,0,1) 0%, rgba(221,221,221,1) 100%);
  }

  #steps {
    background: rgb(43,182,0);
background: radial-gradient(circle, rgba(43,182,0,1) 0%, rgba(221,221,221,1) 100%);
    padding: 10px;
  }

  #steps .row .left,
  #steps .row .central,
  #steps .row .right {
    float: left;
    width: calc(100% / 2);
  }

  #why .row>.first,
  #why .row>.second,
  #why .row>.third {
    margin-top: 20px;
  }
}
/* / Tablet view -BONUS- */